.p-card {
//   width: 100%;
//   max-width: rem(320);
  display: flex;
  flex-direction: column;
//   @include mq(sp) {
//     max-width: rem(580);
//   }
}

.p-card__title {
  line-height: 1.8125;
  font-weight: $font-weight-bold;
  letter-spacing: -1.5px;
}

.p-card__content {
  margin-top: auto;
}

.p-card__white {
  padding: rem(30) rem(78) 0;
  background: $background;
  margin-top: rem(9);
}

.p-card__img {
	width: 100%;
	position: relative;
}

.p-card__img::before {
	padding-top: 112%; //{縦/横}
	display: block;
	content: '';
}

.p-card__img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.p-card__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: rem(16);
}

.p-card__profession {
  padding: rem(8) rem(10);
  color: $sub-text-color;
  background: $background;
  width: 35.7%;
}

.p-card__name {
  padding: rem(8) 0 rem(8) rem(14);
  color: $sub-text-color;
  background: $background;
  width: 61.4%;
}

.p-card__result {
  padding: rem(8) rem(14);
  color: $sub-text-color;
  background: $background;
  margin-top: rem(10);
}