.p-pc-nav {
  height: inherit;
  display: none;
  font-weight: $font-weight-bold;
  @include mq(pc) {
    display: block;
  }
}

.p-pc-nav__items {
  height: inherit;
  color: $sub-text-color;
  display: flex;
  justify-content: center;
}

.p-pc-nav__item {
  height: inherit;
}

.p-pc-nav__item a {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(14);
}