.p-sp-nav {
  padding-top: rem(60);
}

.p-sp-nav__item a {
  display: block;
  padding: rem(30) rem(20);
  border-bottom: 1px solid #fff;
  color: $text-color;
  font-weight: $font-weight-bold;
  background: $sub-background;
}