.c-hamburger {
	z-index: 9999;
}

.c-hamburger span {
	background: #5c6b80;
	display: block;
	height: rem(2);
	position: relative;
	transition: ease 0.5s;
	width: rem(24);
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger span:nth-child(2) {
	margin: 8px 0;
}

.c-hamburger span:nth-child(3) {
	top: 0;
}

/*OPEN時の動き*/

.c-hamburger.is-open span:nth-child(1) {
	top: 10px;
	transform: rotate(45deg);
}

.c-hamburger.is-open span:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.c-hamburger.is-open span:nth-child(3) {
	top: -10px;
	transform: rotate(-45deg);
}

