fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #fff;
	font-family: "游ゴシック体";
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* IEだけに適応 */

_:lang(x)::-ms-backdrop,
body {
	font-family: "Segoe UI", Meiryo, sans-serif;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-top-catch-copy {
	padding-bottom: 4.125rem;
	padding-top: 3.9375rem;
}

.l-top-cta {
	margin-top: 7.4375rem;
}

.l-top-feature {
	margin-top: 3.75rem;
}

.l-top-fv {
	padding-bottom: 5.375rem;
	padding-top: 12.25rem;
}

.l-top-price {
	margin-top: 5.8125rem;
	padding-left: 20px;
	padding-right: 20px;
}

.l-top-sample {
	margin-top: 2.4375rem;
}

.c-btn {
	font-weight: 700;
}

.c-card {
	width: 100%;
}

.c-card__title {
	font-weight: 700;
	letter-spacing: -1.5px;
	line-height: 1.8125;
}

.c-card__white {
	background: #fff;
	margin-top: 0.5625rem;
	padding: 1.875rem 4.875rem 0;
}

.c-card__img {
	position: relative;
	width: 100%;
}

.c-card__img::before {
	content: '';
	display: block;
	padding-top: 112%;
}

.c-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.c-card__wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.c-card__profession {
	background: #fff;
	color: #1B224C;
	padding: 0.5rem 0.625rem;
	width: 35.7%;
}

.c-card__name {
	background: #fff;
	color: #1B224C;
	padding: 0.5rem 0.875rem;
	width: 61.4%;
}

.c-card__result {
	background: #fff;
	color: #1B224C;
	margin-top: 0.625rem;
	padding: 0.5rem 0.875rem;
}

.c-copy-box {
	border: 0.3125rem solid #1B224C;
	color: #1B224C;
}

.c-copy-box__title {
	line-height: 1.39;
}

.c-copy-box__title span {
	background: linear-gradient(transparent 70%, #F5A623 10%);
}

.c-copy-box__text {
	font-size: 1.125rem;
	line-height: 1.72;
	margin-top: 1.5625rem;
}

.c-copy {
	color: #1B224C;
	font-size: 0.75rem;
	font-weight: 700;
}

.c-footer-logo__link {
	background: #fff;
	display: inline-block;
	padding: 0.875rem 1.1875rem;
}

.c-footer-logo img {
	height: 100%;
	width: 9.9375rem;
}

.c-info {
	line-height: 1.67;
	text-align: right;
}

.c-info__time {
	font-size: 0.75rem;
}

.c-info__tel {
	font-weight: 700;
	position: relative;
}

.c-info__tel::before {
	background-size: contain;
	content: "";
	display: inline-block;
	height: 0.91938rem;
	left: -0.9375rem;
	position: absolute;
	top: 0.125rem;
	width: 0.625rem;
}

.c-logo {
	height: 100%;
	width: 8.5rem;
}

.c-logo__link {
	align-items: center;
	display: flex;
	height: 100%;
}

.c-section__title {
	font-size: 2.25rem;
	font-weight: 700;
	text-align: center;
}

.c-hamburger {
	z-index: 9999;
}

.c-hamburger span {
	background: #1B224C;
	display: block;
	height: 2px;
	position: relative;
	transition: ease 0.5s;
	width: 24px;
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger span:nth-child(2) {
	margin: 5px 0;
}

.c-hamburger span:nth-child(3) {
	top: 0;
}

/*OPEN時の動き*/

.c-hamburger.is-open span:nth-child(1) {
	top: 10px;
	transform: rotate(45deg);
}

.c-hamburger.is-open span:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.c-hamburger.is-open span:nth-child(3) {
	top: -10px;
	transform: rotate(-45deg);
}

.p-box1__category {
	background: #F5A623;
	display: inline-block;
	padding: 0.5625rem 1.625rem;
}

.p-box1__title {
	color: #1B224C;
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 1.5;
	margin-top: 1.5625rem;
}

.p-box1__text {
	color: #1B224C;
	line-height: 1.6875;
	margin-top: 1.8125rem;
	max-width: 100%;
	width: 29.375rem;
}

.p-box1__img {
	margin-top: 1.8125rem;
	position: relative;
	width: 100%;
}

.p-box1__img::before {
	content: '';
	display: block;
	padding-top: 68.5714286%;
}

.p-box1__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: -1;
}

.p-catch-copy {
	background-color: #1B224C;
}

.p-catch-copy__inner {
	text-align: center;
}

.p-catch-copy__question {
	line-height: 1.38;
}

.p-catch-copy__wrap {
	display: block;
	margin: 4.0625rem auto 0;
	max-width: 35.9375rem;
	width: 100%;
}

.p-catch-copy__answer {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 2.17;
}

.p-catch-copy__content {
	background-color: #fff;
	margin-top: 5.875rem;
	padding: 0.6875rem 0.875rem;
}

.p-catch-copy__box {
	padding: 0.75rem;
}

.p-cta {
	background: url(../../../advanced/assets/img/common/cta.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.p-cta__inner {
	padding-bottom: 2.625rem;
	padding-top: 4.375rem;
	text-align: center;
}

.p-cta__title {
	font-size: 2rem;
	font-weight: 700;
}

.p-cta__btn {
	background-color: #F5A623;
	border-radius: 1.5625rem;
	display: inline-block;
	margin-top: 1rem;
	padding: 1.0625rem 6.75rem;
}

.p-cta__contact {
	margin-top: 1.375rem;
}

.p-cta__info {
	background-color: #F8F8F8;
	color: #1B224C;
	padding-bottom: 1.5rem;
	padding-top: 1.3125rem;
}

.p-cta__content {
	align-items: flex-end;
	display: flex;
	height: inherit;
	margin: 0 auto;
	max-width: 39.375rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.p-cta__text {
	font-weight: 700;
	line-height: 1.2;
	margin-right: 1.25rem;
}

.p-cta__tel {
	font-size: 2.25rem;
	margin-right: 1.25rem;
}

.p-cta__time {
	line-height: 1.4;
}

.p-feature__title {
	color: #1B224C;
	line-height: 1.38;
}

.p-feature__items {
	margin-top: 2.5rem;
}

.p-feature__item:nth-child(n + 2) {
	margin-top: 2.5rem;
}

.p-footer {
	padding-top: 2.1875rem;
}

.p-footer-nav {
	font-weight: 700;
}

.p-footer-nav__item {
	padding: 0.4375rem 0;
}

.p-footer__tel::before {
	background: url("../../../advanced/assets/img/common/tel-white.svg") no-repeat;
}

.p-footer {
	background-color: #1B224C;
}

.p-footer__inner {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4.3125rem;
}

.p-footer__info {
	margin-top: 1.6875rem;
}

.p-footer__time {
	margin-top: 0.8125rem;
}

.p-footer__copy {
	background-color: #F8F8F8;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	text-align: end;
}

.p-fv {
	background: url("../../../advanced/assets/img/common/first-view.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.p-fv__inner {
	text-align: center;
}

.p-fv__title {
	font-size: 3rem;
	font-weight: 700;
}

.p-fv__text {
	font-size: 1.125rem;
	line-height: 1.72;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5625rem;
	max-width: 19.9375rem;
	width: 100%;
}

.p-fv__cta-btn {
	margin-top: 3.125rem;
}

.p-fv__cta-btn a {
	background-color: #F5A623;
	border-radius: 1.875rem;
	display: inline-block;
	padding: 1.375rem 6.125rem;
}

.p-fv__contact {
	margin-top: 1.375rem;
}

.p-header {
	background: #fff;
	height: 3.75rem;
}

.p-header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

.p-header__pc-left {
	display: flex;
	height: inherit;
}

.p-header__pc-right {
	align-items: center;
	display: flex;
}

.p-header__info {
	color: #1B224C;
	margin-right: 1.4375rem;
}

.p-header__tel {
	margin-top: 0.625rem;
}

.p-header__tel::before {
	background: url(../../../advanced/assets/img/common/tel-black.svg) no-repeat;
}

.p-header__cta-btn {
	margin-right: 0.625rem;
}

.p-header__cta-btn a {
	background-color: #F5A623;
	border-radius: 0.3125rem;
	padding: 1.125rem 2.6875rem;
}

.p-header__contact-btn a {
	background-color: #1B224C;
	border-radius: 0.3125rem;
	padding: 1.125rem 1.625rem;
}

.p-pc-nav {
	display: none;
	font-weight: 700;
	height: inherit;
}

.p-pc-nav__items {
	color: #1B224C;
	display: flex;
	height: inherit;
	justify-content: center;
}

.p-pc-nav__item {
	height: inherit;
}

.p-pc-nav__item a {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	padding: 0 0.875rem;
}

.p-price__inner {
	background: url(../../../advanced/assets/img/common/price.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3.3125rem;
	padding-top: 3.8125rem;
	text-align: center;
}

.p-price__title {
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 1.5;
}

.p-price__btn a {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 1.875rem;
	display: inline-block;
	margin-top: 1.5625rem;
	padding: 1.0625rem 2.75rem;
}

.p-sample {
	background-color: #1B224C;
	padding-bottom: 3.75rem;
	padding-top: 3.625rem;
}

.p-sample__items {
	display: flex;
	margin-top: 8.5625rem;
}

.p-sample__item:nth-child(2n) {
	margin: 0 1.875rem;
}

.u-is-tab {
	display: none;
}

.u-is-pc {
	display: none;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.p-catch-copy__content {
	padding: 0.75rem 1rem;
}

.p-catch-copy__box {
	padding: 1.375rem;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.6vw;
}

.l-inner {
	max-width: 59.375rem;
	padding-left: 25px;
	padding-right: 25px;
}

.p-box1 {
	display: flex;
}

.p-box1:nth-child(2n) {
	flex-direction: row-reverse;
}

.p-box1:nth-child(2n+1) .p-box1__body {
	margin-right: 3.125rem;
}

.p-box1:nth-child(2n) .p-box1__img {
	margin-right: 3.125rem;
}

.p-box1__title {
	margin-top: 2.1875rem;
}

.p-box1__text {
	margin-top: 2.4375rem;
}

.p-box1__img {
	margin-top: 0;
}

.p-catch-copy__wrap {
	display: flex;
}

.p-catch-copy__answer:nth-child(n + 2) {
	margin-left: 2.8125rem;
}

.p-cta__content {
	max-width: 56.25rem;
	padding-left: 3.75rem;
	padding-right: 25px;
}

.p-feature__items {
	margin-top: 3.75rem;
}

.p-feature__item:nth-child(n + 2) {
	margin-top: 3.75rem;
}

.p-header {
	height: 5rem;
}

.p-header__inner {
	padding-left: 15px;
	padding-right: 10px;
}

.p-price__inner {
	max-width: 56.25rem;
}

.u-is-tab {
	display: block;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1000px) {

.p-footer-nav__items {
	display: flex;
}

.p-footer-nav__item:not(:last-child) {
	border-right: 1px solid #fff;
	margin-right: 1.34375rem;
	padding-right: 1.34375rem;
}

.p-header__drawer {
	display: none;
}

.p-pc-nav {
	display: block;
}

.u-hidden-pc {
	display: none;
}

.u-is-pc {
	display: block;
}

}

